<header>
    <nav>
        <ul>
            </li>
                <form action="/" method="GET" autocomplete="off">
                    <input type="submit" value="Volver" class="btn-login">
                </form>
            </li>
        </ul>      
    </nav>
    
</header>