<header>
    <nav>
        <ul>
            </li>
                <form action="/login" method="GET" autocomplete="off">
                    <input type="submit" value="Electroniks" id="btn-login-oculto">
                </form>
            </li>
        </ul>      
    </nav>
    
</header>