body {
    background-color: var(--color-fondo);
    color: var(--color-texto);
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    text-align: center;
}

/* Header */
header {
    background-color: var(--color-secundario);
    color: var(--color-primario);
    padding: 15px 0;
}

h1 {
    margin: 0;
}


/* Barra de navegaci贸n */
nav ul {
    list-style: none;
    display: flex;
    justify-content: center;
    gap: 25px;
    margin: 10px 0 0;
    padding: 0;
}

nav ul a {
    text-decoration: none;
    color: var(--color-primario);
    font-weight: bold;
}

nav ul a:hover {
    color: white;
}

/* Secci贸n principal */
main {
    padding: 30px;
}

/* Formularios */
form {
    margin: 0 auto;
    width: 320px;
    display: flex;
    flex-direction: column;
    gap: 10px;
}

input,
select {
    padding: 8px;
    border: 1px solid var(--color-primario);
    border-radius: 5px;
    font-size: 1rem;
}

input[type="submit"],
button {
    background-color: var(--color-primario);
    color: var(--color-texto);
    font-weight: bold;
    border: none;
    border-radius: 5px;
    padding: 10px;
    cursor: pointer;
    transition: 0.2s;
}

input[type="submit"]:hover,
button:hover {
    background-color: #ffe44d;
}

/* Cards de productos en dashboard */
#contenedor-productos {
    padding: 10px 100px 10px 100px;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    justify-content: center;
}

.card-producto {
    display: flex;
    flex-direction: column;
    justify-content: center;
    background-color: white;
    border: 1px solid var(--color-primario);
    border-radius: 8px;
    width: 250px;
    margin: 15px;
    padding: 10px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);

}

.card-producto-innerdiv {
    margin-top: auto;
}

.card-producto img {
    height: 250px;
    width: 250px;
    width: 100%;
    border-radius: 6px;
}


/* Contenedor de los productos buscados por id */

#contenedor-productos-buscados {
    display: flex;
    justify-content: center;
}

#consulta-prod-div {
    display: flex;
    padding: 10;   
}

#lista-productos {
    position: relative;
    margin-top: 30px;
    height: 180px;
}

/* Imagen */
#prod-img {
    width: 150px;
    height: auto;
}

/* Info */
#prod-info {
    padding-left: 15px;
    padding-right: 15px;
    margin: auto;
    text-align: center;
}

/* Bot贸n */
#prod-btn {
    margin: auto;
    height: 30px;
    padding: 8px 12px;
}

/* login */
#login-title {
    margin-top: 25px;
}

#login-form {
    margin-top: 50px;
}
.error-message {
    padding: 10px;
    border: 2px solid #eb99a1;
    width: 50%;
    text-align: center;
    margin: 0 auto;
    border-radius: 5px;
    font-size: 16px;
    font-weight: bold;
    color: #eb99a1;
}

/* cerrar sesi贸n */

.btn-login {
    background-color: var(--color-primario);
    color: var(--color-secundario); 
    font-weight: bold;
    border: none;
    width: 50%;
    padding: 8px 14px;
    border-radius: 5px;
    cursor: pointer;
    margin:auto;
    display: block;
}

/* Hover uniforme para ambos botones */
#login-form input[type="button"]:hover {
    background-color: #ffe44d;
}
