/* Estilos globales: colores,
fuentes,
botones y estructura base */
:root {
    --color-fondo: #f3f4f6;
    --color-texto: #111827;
    --color-primario: #facc15;
    --color-secundario: #222;
}

/* Configuración base */
body {
    font-family: Arial, sans-serif;
    background-color: var(--color-fondo);
    color: var(--color-texto);
    margin: 0;
    padding: 0;
}

/* Cabecera y navegación */
header {
    text-align: center;
    padding: 15px;
    background-color: var(--color-secundario);
}

nav {
    display: flex;
    text-align: center;
    padding: 10px;
    background-color: var(--color-secundario);
}

nav li {
    color: var(--color-texto);
    margin-left: 10px;
    margin-right: 10px;
    margin-top: 10px;
    font-weight: bold;
}

/* Pantalla bienvenida*/

#bienvenida-main h1{
    font-size: 50px;
}

/* Marca de agua con los nombres */
#marca-agua {
    position: fixed;
    bottom: 10px;
    left: 10px;
    font-size: 0.8rem;
    color: rgb(0, 0, 0);
}

#div-boton-logout {
    margin-left: auto;
}

#btn-login-oculto {
    font-size: 26px;
    background-color: var(--color-secundario);
    text-decoration: none;
    color: var(--color-primario);
    font-weight: bold;
}